<input [(ngModel)]="userID" required>
<input [(ngModel)]="gameID" required>

<ul>
  <li *ngFor="let round of rounds">
    {{round.p1}} - {{round.p2}} :
    <span *ngIf="round.winner == this.userID">You Win!</span>
    <span *ngIf="round.winner != this.userID">You lost!</span>
  </li>
</ul>


<button class="btn btn-primary" (click)="play('paper')">Paper</button>
<button class="btn btn-primary" (click)="play('rock')">Rock</button>
<button class="btn btn-primary" (click)="play('scisors')">Scisors</button>